* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

*:focus {
  outline: 4px solid black;
}

#root {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  padding: 1.5rem;
  min-height: 100svh;
}

.container {
  background-color: hsl(219, 6%, 44%);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 65%;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem;
}

h1 {
  color: hsl(220, 8%, 23%);
  font-style: normal;
  font-size: 2rem;
  font-weight: 900;
}

#title-input-box,
#description-input-box {
  min-width: 0;
  flex-grow: 1;
  padding: 0.8rem;
  border-radius: 1rem;
  border: none;
  font-size: inherit;
  word-break: break-all;
}

.add-btn {
  padding: 1rem;
  flex-shrink: 0;
  background-color: hsl(26, 100%, 43%);
  color: hsl(0, 0%, 100%);
  border-radius: 50px;
  border: none;
  font-size: inherit;
  font-weight: 400;
}

.add-btn:active {
  background-color: hsl(26, 100%, 40%);
}
.list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  word-break: break-all;
  background-color: hsl(220, 8%, 23%);
  list-style: none;
  color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.list-text-container {
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
}

.list-title {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(26, 100%, 43%);
}

.list-description {
  flex-grow: 1;
  interpolate-size: allow-keywords;
  height: 0;
  padding: 0;
  will-change: height, padding;
  transition-property: height, padding;
  transition-duration: 1s;
  overflow: hidden;
  background-color: hsl(220, 8%, 15%);
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  color: hsl(0, 0%, 47%);
}

.list-item:hover .list-description,
.list-item:focus .list-description {
  padding: 0.5rem;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  height: auto;
}

.task-completed-text {
  display: grid;
  place-content: center;
  text-wrap: nowrap;
  font-size: 0.6rem;
  font-weight: bold;
  color: hsl(113, 97%, 35%);
}

.task-not-completed-text {
  display: grid;
  place-content: center;
  text-wrap: nowrap;
  font-size: 0.6rem;
  font-weight: bold;
  color: hsl(0, 97%, 35%);
}

.delete-icon-wrapper {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  padding: auto;
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: hsl(0, 0%, 50%);
  border-radius: 50%;
}

.delete-icon {
  color: hsl(0, 0%, 100%);
}

.delete-icon-wrapper:hover > .delete-icon {
  color: hsl(0, 100%, 70%);
}

.delete-icon-wrapper:hover {
  background-color: hsl(0, 0%, 85%);
}

/* small screens */
@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}

/* mediun screens */
@media screen and (max-width: 769px) {
  .container {
    width: 100%;
  }
  .input-container {
    flex-direction: column;
  }

}
